<!-- job-list.component.html -->


<div class="header-container">
    <img src="assets/images/meeting.jpg.jpg" alt="Your Photo" class="header-photo">
   
    <div class="search-bar-container">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search by Job Title" class="search-bar">
        <button (click)="filterJobs()" class="search-button">Search</button>
      </div>
      
  </div>
<div class="crads-heading"><h2>Current Jobs</h2></div>
<div class="job-cards">
  <div *ngFor="let job of filteredJobs" class="job-card">
    <div class="card-header">{{ job.title }} </div>
    <div class="card-company">Company: {{job.companyName}}</div>
    <div class="card-company">Experience Required: {{job.expirenceRequired}}</div>
    <div class="card-skills">Skills: {{ job.skills.join(', ') }}</div>
    <div class="card-buttons">
      <button (click)="applyForJob(job)">Apply</button>
      <button (click)="candidatesApplied(job)">Candidates Applied</button>
    </div>
  </div>
</div>

