

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th {
    background-color: #4caf50;
    border: 1px solid #ddd;
    color: white;
    padding: 10px;
  }
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  thead {
    font-weight: bold;
  }
  tr:hover {
    background-color: #e0e0e0;
  }
  

